<div class="command">
  <div class="digit" *ngIf="isRealMode()">
    <button [class.active]="i === value" (click)="onSelectDigit($event, i)" class="digit" *ngFor="let i of [1,2,3,4,5,6,7,8,9]">{{i}}</button>
  </div>
  <div class="digit" *ngIf="isAssistantMode()">
    <button [class.active]="i === value" class="assistant digit" (click)="onSelectDigit($event, i)" *ngFor="let i of [1,2,3,4,5,6,7,8,9]">{{i}}</button>
  </div>
  <div class="large-button">
    <button class="mode real" (click)="setAssistantMode()" *ngIf="isRealMode()">REAL MODE</button>
    <button class="mode assistant" (click)="setRealMode()" *ngIf="isAssistantMode()">ASSISTANT MODE</button>
  </div>
</div>
{{ errors | json }}