<div *ngIf="isRealMode()">
  <button [class.active]="i === value" (click)="onSelectDigit($event, i)" class="digit" *ngFor="let i of [1,2,3,4,5,6,7,8,9]">{{i}}</button>
</div>
<div *ngIf="isAssistantMode()">
  <button [class.active]="i === value" class="assistant digit" (click)="onSelectDigit($event, i)" *ngFor="let i of [1,2,3,4,5,6,7,8,9]">{{i}}</button>
</div>
<div>
  <button class="real" (click)="setAssistantMode()" *ngIf="isRealMode()">REAL MODE</button>
  <button class="assistant" (click)="setRealMode()" *ngIf="isAssistantMode()">ASSISTANT MODE</button>
  <button (click)="generate()">NEW SUDOKU</button>

</div>
{{ errors | json }}
<button (click)="log()">Log</button>
