@import '~sass/styles';

div {
    padding: 0;
    margin: 0;
}

.digit {
    display: flex;
    justify-content: space-between;
}

.large-button {
    button {
        width: 100%;
        margin: 0;
    }
}

button {
    display: inline-block;
    margin: 0 0 0.5em;
    padding: 0.5em 0.9em;
    border: 1px solid black;
    background: #eee;
    font-size: 1.2em;
    &:hover {
        background: #ddd;
    }
    &.active {
        background: hsl($hue, 100%, 90%);
    }
}

.assistant {
    background: #fff;
    &:hover {
        background: #eee;
    }
}

