:host {
    display: inline-block;
    padding: 0 2.5em;
}

ul {
    display: inline-flex;
    flex-flow: column nowrap;
    background: black;
    padding: 1px;
}

li {
    display: flex;
    flex-flow: row nowrap;
}